{% extends "template.html" %}
{% block content%}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alert alert-success">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<table class="table table-striped table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
        </tr>
    </thead>
    <tbody>
        {% for jogo in jogos: %}
            <tr>
                <td>{{ jogo.nome.title() }}</td>
                <td>{{ jogo.categoria.title() }}</td>
                <td>{{ jogo.console.title() }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}